body {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
    background-color: #171E33;
}

#root {
    height: 100%;
}

.container {
    margin: auto auto;
    padding: 0;
}

.titleHeader {
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 60px;
    transition: all 1s linear;
    color: #ecf0f1;
}

.searchBarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    transition: all 1s linear;
}

.searchBarDiv form {
    width: 60%;
    display: inline-block;
}

.searchBar {
    font-size: 1em;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 223, 171, 0.692);
    font-weight: bolder;
}

.searchButton {
    border-color: #CED4DA;
    border-left: 0;
    background-color: #00DFAB;
}

.searchButton:hover {
    background-color: #AADFAB;
}

.mainDiv {
    display: none;
}

.friendsList {
    overflow: auto;
    height: 460px;
    list-style-type: none;
    border: #CED4DA solid 1px;
    padding: 0px;
}

.friendCell {
    padding: 10px 10px;
}

.friendImg {
    padding: 5px 10px;
}

.recentDiv {
    overflow: auto;
    white-space: nowrap;
    padding: 20px 0px;
}
.row {
    margin-bottom: 30px;
}

.recentGameCards {
    display: inline-block;
    width: 30rem;
    height: 100%;
    margin: 0 10px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.errorMessage {
    text-align: center;
    background-color: #ea3232;
    color: #ffffff;
    width: 100%;
}

.friendCard {
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
    border-bottom: none;
    background-color: #242C45;
}
.list-group-item {
    text-align: center;
}

.list-group-item a {
    font-size: 1.1rem;
    font-weight: bold;
}

.list-group-item *{
    width: 100%;
    margin: 0px;
    padding: auto auto;
}

.card-header {
    text-align: center;
}

.userProfile, .wishlistGame {
    background-color: #242C45;
    border-radius: 20px;
    color:#ecf0f1
}

.wishlistGame a:hover {
    color: #00DFAB;
}

.userProfile {
    text-align: center;
}
.userProfile a:hover {
    color: #00DFAB;
}

.userProfile > .card-img-top {
    border-radius: 200px;
    padding-top: 20px;
}

#personName {
    color: #ecf0f1
}

.playerDetails {
    color: #ecf0f1;
    font-weight: bolder;
    text-align: center;
}

.playerDetails div {
    color: #00DFAB;
}

.playerDetails span {
    color: #ecf0f1;
}

.progress-bar {
    color: black;
    font-weight: bolder;
    background-color: #00DFAB;
}
.progressDiv {
    text-align: center;
    color: #ecf0f1;
}

.playerImg {
    border-radius:50px;
}

.friendsSummaryBody, .recentCard, .accordionBody {
    background-color: #242C45;;
}

.friendsSummaryBody a:hover {
    color: #00DFAB;
    font-weight: bolder;
}

.wishlistBody {
    overflow: auto;
    height: 500px;
}

.accordionHeader {
    background-color: #0E1425;
}

.accordionHeader button {
    color: #ecf0f1;
    font-weight: bolder;
}

.accordionHeader button:hover {
    color: #00DFAB;
}

.canvas {
    color: white;
}
