body {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
}

#root {
    height: 100%;
}

.container {
    margin: auto auto;
    padding: 0;
}

.titleHeader {
    font-size: 4em;
    margin-top: 30px;
    margin-bottom: 60px;
    transition: all 1s linear;
}

.searchBarDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    transition: all 1s linear;
}

.searchBarDiv form {
    width: 60%;
    display: inline-block;
}

.searchBar {
    font-size: 1em;
    padding: 30px 20px;
}


.searchButton {
    border-color: #CED4DA;
    border-left: 0;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.mainDiv {
    display: none;
}

.friendsList {
    overflow: auto;
    height: 460px;
    list-style-type: none;
    border: #CED4DA solid 1px;
    padding: 0px;
}

.friendCell {
    padding: 10px 10px;
}

.friendImg {
    padding: 5px 10px;
}

.recentDiv {
    overflow: auto;
    white-space: nowrap;
    padding: 20px 0px;
}
.row {
    margin-bottom: 30px;
}

.recentGameCards {
    display: inline-block;
    width: 30rem;
    height: 100%;
    margin: 0 10px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.errorMessage {
    text-align: center;
    background-color: #ea3232;
    color: #ffffff;
    width: 100%;
}

.friendCard {
    text-align: center;
    margin-bottom: 20px;
    padding: 0px;
    border-bottom: none;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.list-group-item {
    text-align: center;
}

.list-group-item a {
    font-size: 1.1rem;
    font-weight: bold;
}

.list-group-item *{
    width: 100%;
    margin: 0px;
    padding: auto auto;
}

.card-header {
    text-align: center;
}

.userProfile, .wishlistGame {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.friendsSummaryBody, .recentCard, .accordionBody {
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.wishlistBody {
    overflow: auto;
    height: 500px;
}

.accordionHeader {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}